<script>
	const styles = StyleSheet.create({
		infoFrame: {
			flex: 1
			, backgroundColor: '#d3d3d3'
			, height: '80%'
		}
		, btnFrame: {
			flex: 1
			, backgroundColor: '#e8e8e8'
			, height: '20%'
		}
	})
	
</script>

<View>
	<View style={styles.infoFrame}></View>
	<View style={styles.btnFrame}>
		<fireUpBtn></fireUpBtn>
	</View>
</View>